#testnet=0
#signet=0
#regtest=0
#proxy=127.0.0.1:9050
#bind=<addr>
#whitebind=perm@<addr>
#addnode=69.164.218.197
#addnode=10.0.0.2:8333
#connect=69.164.218.197
#connect=10.0.0.1:8333
#listen=1
#port=
#maxconnections=
#maxuploadtarget=
#server=0
#rpcbind=<addr>
# ./share/rpcauth/rpcauth.py alice
# rpcauth=bob:b2dd077cb54591a2f3139e69a897ac$4e71f08d48b4347cf8eff3815c0e25ae2e9a4340474079f55705f40574f4ec99
#rpcclienttimeout=30
#rpcallowip=10.1.1.34/255.255.255.0
#rpcallowip=1.2.3.4/24
#rpcallowip=2001:db8:85a3:0:0:8a2e:370:7334/96
#rpcport=8332
#rpcconnect=127.0.0.1
#wallet=</path/to/dir>
#txconfirmtarget=n
#paytxfee=0.000x
#keypool=100
#coinstatsindex=1
#prune=550

# Options only for mainnet
[main]

# Options only for testnet
[test]

# Options only for signet
[signet]

# Options only for regtest
[regtest]